*{
    box-sizing: border-box;
}
body{
	width: 100%;
	height: max-content;
	background-image: url(../assets/images/valorant-bg-2.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.game-board{
    display: grid;
    grid-template-columns:repeat(3, 1fr) ;
	position: relative;
	top: 15px;
    
}
.card{
    background-image:url(../assets/images/carta-valorant3.jpg);
    background-position: center;
    background-size: cover;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    border-radius: 10px;
    
    overflow: hidden;
}
.card img{
    border-radius: 10px;
    width: 100px;
    height: 100px;
    
}
.flip{
    transition: transform 0.6s;
}
.flip.flipped {
    transform: rotateY(180deg); 
}
.hide{
    display: none;
}
.correct{
    border: 6px solid  rgb(13, 223, 13)
}
.incorrect{
    border: 6px solid  rgb(255, 0, 0)
}
.button-container{
    padding: 30px 0px;
    text-align: center;
    
}
.play-again{
	
    background-color: #1C252E;
    border-radius: 20px;      
    padding: 20px 20px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    color:#EB4A59;
    
}
@media (hover:hover){
    .play-again:hover{
		color: #1C252E;
		background-color: #EB4A59;
	}
   
}

.results-board{
	
	width: 80%;
    background-color: #1C252E;
    color: #EB4A59;
    text-align: center;
    padding: 20px;
	margin: 20px auto;
    border-radius: 20px;
}

@media (min-width: 768px) {
    .results-board{
		width: 60%;
	
	}
} 



.title-results{
    font-size: 30px;
}
.results-board p{
    color: white;
    font-size: 20px;
}
